.about {
  height: 500px;
  width: 60%;
  margin: 0 auto;
  .content {
    display: flex;
    gap: 60px;
    .portrait {
      max-width: 350px;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}
