.contact-form {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--primary);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  form {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: white;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
    box-sizing: border-box;

    &:focus {
      border-color: black;
    }
  }

  textarea {
    resize: vertical;
    height: 150px;
  }

  input[type="submit"] {
    padding: 12px 20px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
      background-color: #0056b3;
    }
  }
}
